.column {
  justify-content: center;
}

.body {
  line-height: 1.5;
  margin-left: unset;
  margin-right: 4px;
}

.story-item {
  margin-top: 14px;
  margin-bottom: 76px;
}

.story-img {
  max-width: 33%;
  border-radius: 36px;
  object-fit: cover;
}

.title {
  margin-bottom: unset;
}

.reverse {
  flex-direction: row-reverse;

  .column {
    align-items: flex-end;

    .body {
      text-align: right;
      margin-left: 4px;
      margin-right: unset;
    }
  }
}

.more-btn {
  padding: 8px 24px;
  border: 3px solid var(--secondary-color);
  width: fit-content;
  text-decoration: none;
  color: white;
  background-color: var(--main-color);
  border-radius: 6px;
}

.more-btn:hover {
  border-color: var(--accent-color);
}
