input,
textarea {
  border: 2px solid grey;
  border-radius: 6px;
  min-height: 24px;
  font-size: 16px;
  padding: 4px;
}

label {
  margin-top: 16px;
}

.error {
  color: var(--accent-color);
  font-size: 14px;
  padding-top: 4px;
  padding-left: 4px;
}

.active-error {
  border-color: var(--accent-color);
}

#submit-btn {
  align-self: center;
  margin-top: 16px;
}
