.core {
  margin: 0vh 6vw;
  padding: 1vh 2vw;
  background-color: white;
  min-height: 98vh;
}

.header {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;

  h1 {
    margin: unset;
    cursor: pointer;
  }
}

.nav {
  a {
    margin-left: 16px;
    text-decoration: none;
    color: palevioletred;
  }

  a:hover {
    color: blue;
  }
}
