.post-create {
  margin-bottom: 16px;
  border-radius: 15px;
  justify-content: center;
  border: 1px dashed var(--grey);
}

.post-create:hover {
  border-color: var(--secondary-color);
  border-style: solid;
}

.post-preview {
  margin-bottom: 16px;
  border-radius: 12% 0 0 12%;

  .details {
    width: 70%;
  }
}

.post-preview:hover {
  .img {
    border-color: var(--secondary-color);
  }
}

.img {
  width: 25%;
  max-height: 260px;
  max-width: 260px;
  margin-right: 16px;
  background-color: var(--grey);
  border-radius: 15px 0 0 15px;
  border-right: 3px solid;
  border-color: var(--main-color);

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 15px 0 0 15px;
  }
}

a {
  text-decoration: none;
  color: unset;
}
