<ng-container *ngIf="post">
  <p class="published">
    {{ post.published | date: "fullDate" }}
  </p>
  <div class="hero">
    <button class="button edit" routerLink="edit">Edit Post</button>
    <div class="img" *ngIf="post.heroImage">
      <img src="{{ post.heroImage }}" alt="" />
    </div>
    <div class="title">
      <h1>
        <span>
          {{ post.title }}
        </span>
      </h1>
      <span class="author">by {{ post.author }}</span>
    </div>
  </div>

  <p class="body">{{ post.body }}</p>
</ng-container>
